/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */

/*   ----- Variables  -----  */
:root {
  --custom-color-name:;
  --custom-embellishment-name:;
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {       /* Can alternatively define in html {}. */
  background-color:;
  background-image:;
  color:;
  font-family: Arial, sans-serif; 
  margin: 0;
  padding:;
  max-width:;
}

/*  ----- Page layout blocks -----  */
header {

}
main {}
section {}
article {}
  #topic1 {}
  #topic2 {}
div {}
aside {}
footer {}

/* ----- Anchors ----- Text links */
a {}
a:link {}
a:hover {}
a:active {}
a:visited {}

/*  ----- Navigation ----- Override text links for navigation only.  */
nav {
  display: flex;
  justify-content: center;
  background-color: #333;
}
nav a {
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
}
nav a:hover {
  background-color: #575757;
}

/*  -----  Typography  ----- */
p {
  color: #555;
  padding-left: 20px;
  padding-right: 20px;
}
br {}
ol, ul, dl {}
li {
  color: #555;
}
dt {}
dd {}

h1, h2, h3, h4, h5, h6 {
  padding-left: 10px;
  padding-right: 10px;
} 
h1 {
  color: #333;
}
h2 {
  color: #333;
}
h3 {}
h4 {}
h5 {}
h6 {}

abbr {}
acronym {}
address {}
blockquote {}
  q {}
  cite {}
em {}
hr {}
mark {}
s {}
span {}
strong {}
sub {}
sup {}
time {}

/*  ----- Coding or instructional typography ----- */
pre {}
code {}
kbd {}
samp {}
var {}
del {} 
ins {}

/*  ----- Table ----- */
table {}
caption {}
thead {}
tbody {}
tfoot {}
tr {}
  tr:nth-child(even) {}
th {}
td {}
  td:nth-child(1) {}
colgroup {}
data {}
datalist {}


/*  ----- Form ----- */
form {}
fieldset {}
  legend {}
label {}
button {}
input {}
select {}
  optgroup {}
  option {}
textarea {}
output {}
meter {}
progress {}


/* ----- Media ----- */
figure {}
  figcaption {}
  figure img {}
svg {}
picture {}
  source {}
iframe {}
video {}
audio {}
embed {}
object {}

/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
.gallery {}

.floatright {}
.floatleft {}
.center-middle {}

.ten {}
.twenty {}
.thirty {}
.forty {}
.fifty {}
.sixty {}
.seventy {}
.eighty {}

.radius {}
.circle {}
.boxshadow {}
.tshadow {} 
.gradient {}
.shape {}

@keyframes App-logo {}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}

/*  ----- Custom -----  */

.contact-page {
  padding-left: 10px;
  display: flex;
  gap: 20px;
}

.section {
  flex: 1;
}

.education-skills {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
}

.education, .skills {
  flex: 1; 
}

.education {
  margin-right: 10px; 
}

.skills {
  margin-left: 10px; 
}

.resume-button-box {
  text-align: left; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  padding: 0 20px; 
}

.resume-button {
  text-decoration: none;
}

.resume-button button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resume-button button:hover {
  background-color: #0056b3;
}
